* {
  margin: 0;
  padding: 0;
}
.header-area {
  height: 6%;
background: rgb(100,65,165);
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
color: black;
padding: 4px;
text-align: center;
}

body {
  font: 16px Calibri, Calibri;
background: black;
}

#progress{
  padding: 0px;
  color: white;
  display: none;
}

#messages li {
text-align: right; 
padding: 0px 400px; 
background: darkgreen;
}

#messages li:nth-child(odd) {
text-align: left;
background: #101820FF;
}

.username {
  font-size: 12px;
  color: white;
}

#feedback {
  margin-bottom: 10px;
  color: white;
  padding: 10px;

}

#overlay {
  height: 6%;
  width: 12%;
  z-index: 0;
  position: absolute;
  top: 10px;
  right: 50px;
  background: darkgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  width: 100vw;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner input {
  font-size: 12px;
  padding: 5px;
  border: none;
  height: 10px;
  width: 80%;
}

input:focus {
  outline: solid;
}

.inner button:focus {
  outline: solid;
}

.inner button {
  background: darkgreen;
  color: white;
  font-size: 12px;
  font-weight: 500;
  padding: 0px 0px;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 87%;

}

.inner button:hover {
  background: rgb(255, 0, 0);
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
}
ul li{
  max-width: auto;
}
ul li img{
  cursor: pointer;
}

.imgupload{
  border: 0px solid rgb(255, 0, 0);
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 5px;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
border-radius: 0px;
cursor: pointer;
transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

#footer {
position: fixed;
bottom: 0;
width: 100%;
height: 5%;
background-color: darkblue;
color: white;
text-align: right;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
align-items: center;
justify-content: center;
position: fixed; /* Stay in place */
/*z-index: 1; /* Sit on top */
/*padding-top: 100px; /* Location of the box */
/*left: 0;*/
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
text-align: center;
color: #ccc;
padding: 10px 0;
height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
animation-name: zoom;
animation-duration: 0.6s;
}

@keyframes zoom {
from {transform:scale(0)}
to {transform:scale(1)}
}

/* The Close Button */
.close {
position: absolute;
top: 15px;
right: 35px;
color: #f1f1f1;
font-size: 40px;
font-weight: bold;
transition: 0.3s;
}

.close:hover,
.close:focus {
color: #bbb;
text-decoration: none;
cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
.modal-content {
  width: 100%;
}
}

.open-button {
background-color: white;
color: black;
border: none;
cursor: pointer;
opacity: 0.8;
}

#searchBox {
/*display: flex;*/
align-items: center;
justify-content: center;
background-color: grey;
position: relative;
width:600px;
height: 800px;
border: solid darkgrey 2px;
overflow-y: auto;
}

#searchBottom {
flex: 1;
position: fixed;
bottom:0;
background-color: darkgrey;
bottom: 0;
}

#display-list {
display: flex;
flex-direction: row;
flex-wrap: wrap;

}

img {
height: 40%;
width: 40%;
height: auto;
object-fit: cover;
}

.rain
  {
    height: 100vh;
    background-image: url("https://www.freeiconspng.com/thumbs/rain-png/rain-png-transparent-9.png");
    animation: rain 1.3s linear infinite; 
  }

  @keyframes rain
  {
    0%{
      background-position: 0% 0%;
    }
    100%{
      background-position: 20% 100%;
    }
  }